main{
  flex-grow: 1;
}

.bgimg{
  background-image: url(https://cdn.pixabay.com/photo/2017/08/11/14/02/paper-2631126_1280.jpg);
}

.listItemsSpacing{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-blue{
  background-color: blue;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.bg-green{
  background-color: green;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.bg-red{
  background-color: crimson;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.ml-35{
  margin-left: 35%;
}

.flex-end{
  justify-content: flex-end;
}

.box-shadow{
  box-shadow: 2px 2px black;
}

.lt-text-shadow{
  text-shadow: 2px 2px 2px gray ;
}

.border{
  border: 2px solid black !important;
}

* button{
  box-shadow: 2px 2px black;
}

.bg-grad{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,125,209,1) 50%, rgba(0,212,255,1) 100%);
}